<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Albums</h1>
<p>Album 1: American Love Call, Durand Jones and The Indications, 12 songs, 2160 seconds, <a href="https://cdn.shopify.com/s/files/1/1496/1360/products/DOC177_600x.jpeg?v=1543374707">Album Image</a></p>
<p>Album 2: Private Space, Durand Jones and The Indications, 12 songs, 2160 seconds, <a href="https://cdn.shopify.com/s/files/1/1496/1360/products/doc227_600x.jpg?v=1622492555">Album Image</a> </p>
<p>Album 3: Introducing, Aaron Frazer, 12 songs, 2160 seconds, <a href="https://cdn.shopify.com/s/files/1/1496/1360/products/ARTWORK_600x.jpg?v=1622212175">Album Image</a></p>
<p th:text="${albumName}"></p>
</body>
</html>